@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// For Margin
@each $marginTop in $marginTops {
  .margin_top_#{$marginTop} {
    margin-top: #{$marginTop}px;
  }
}

@each $marginBottom in $marginBottoms {
  .margin_bottom_#{$marginBottom} {
    margin-bottom: #{$marginBottom}px;
  }
}

@each $marginLeft in $marginLefts {
  .margin_left_#{$marginLeft} {
    margin-left: #{$marginLeft}px;
  }
}

@each $marginRight in $marginRights {
  .margin_right_#{$marginRight} {
    margin-right: #{$marginRight}px;
  }
}

@each $width in $widths {
  .width_#{$width} {
    width: #{$width}px;
  }
}

@each $height in $heights {
  .height_#{$height} {
    height: #{$height}px;
  }
}

$purple-color: #6b2e6a;