.trust{
  width: 208px;
  height: 57px;
  font-size: 24px;
  font-family: "OpenSansCondensedBold", sans-serif;
  margin: 42px auto 0;
  padding: 14px 18px 14px 18px;
  background-color: #f9f9f9;
  text-transform: uppercase;
  text-align: center;
  color: #8b8b8b;
}

.brand{
  display: block;
  margin: 22px 0 50px;
  font-size: 0;
  @media screen and (max-width: 851px) {
    margin: 22px 0 50px;
  }
  @media screen and (max-width: 735px) {
    margin: 22px auto 50px;
    width: 410px;
  }
}

.brand__item{
  display: inline-block;
  margin: 0 14px;
  img{
    width: 100%;
  }
}

.brand__item--cola{
  width: 21.8%;
  @media screen and (max-width: 735px) {
    width: 165px;
    margin-left: 45px;
    margin-right: 30px;
  }
}
.brand__item--uni{
  width: 22.2%;
  @media screen and (max-width: 735px) {
    width: 85px;
  }
}
.brand__item--moz{
  width: 25.4%;
  @media screen and (max-width: 735px) {
    width: 200px;
  }
}
.brand__item--nes{
  width: 17.5%;
  @media screen and (max-width: 735px) {
    width: 140px;
  }
}