.trust{
  width: 208px;
  height: 57px;
  font-size: 26px;
  font-family: "Open Sans Condensed Bold", sans-serif;
  margin: 42px auto 0;
  padding: 16px 20px 16px 20px;
  background-color: #f9f9f9;
  text-transform: uppercase;
  text-align: center;
  color: #8b8b8b;
}