// Carousel

.carousel{
    position: absolute;
    width: 100%;
}
.carousel-inner > .item{
  img{
    height: 630px;
  }
}

.carousel-indicators {
  bottom: 51px;
  left: 48%;
  list-style: outside none none;
  margin-left: -30%;
  padding-left: 0;
  position: absolute;
  text-align: center;
  width: 60%;
  z-index: 15;
  li{
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    &.active{
      width: 11px;
      height: 11px;
      margin: 0 5px;
      background-color: #b13558;
    }
  }
  @media screen and (max-width: 990px) {
    left: 50%;
  }
}

.carousel-inner > .item > .wrap__label{
  width: 596px;
  height: 106px;
  margin: -43px auto;
  position: relative;
  display: block
}

.carousel-inner > .item > .wrap__label > .carousel__label{
  width: 596px;
  height: 106px;
  bottom: 192px;
  position: absolute;
  @media screen and (max-width: 990px) {
    display: none;
  }
}
