.comment__label{
  color: #000000;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  display: block;
  font-weight: normal;
}
.comment__textarea{
  display: block;
  width: 500px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #6b2e6a;
  padding: 5px 10px;
  &:focus{
    border-color: #000000;
    box-shadow: 5px 4px 14px -2px rgba(0,0,0,.5);
    outline: none;
  }
}
.comment__input{
  width: 500px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #6b2e6a;
  padding: 5px 10px;
  &:focus{
    border-color: #000000;
    box-shadow: 5px 4px 14px -2px rgba(0,0,0,.5);
    outline: none;
  }
}
.comment__submit{
  padding: 15px;
  vertical-align: text-bottom;
  background: #6b2e6a;
  margin-bottom: 0;
  display: inline-block;
  input{
    background: transparent;
    border: none;
    color: #fff;
  }
}
.comment-form-comment{
  display: block;
}
.comment-form{
  margin-bottom: 20px;
}
li.comment{
  display: block;
}
.comment-author.vcard{
  img{
    vertical-align: top;
    width: 50px;
    height: 50px;
  }
  .fn{
    vertical-align: top;
    color: #571f5a;
  }
}
.comment__desc{
  display: inline-block;
  width: calc(100% - 54px);
  word-wrap: break-word;
}