// Header

.header{
  color: #FFFFFF;
  .header__text{
    margin-top: 89px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    padding: 0 53px;
    line-height: 20.9px;
    width: 333.33px;
    color: #ffffff;
    text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* наверх и влево */
    1px 1px 1px rgba(255,255,255,0.2), /* вниз и вправо */
    1px 1px 1px rgba(0,0,0,0.7); /* тёмная тень */
    @media screen and (max-width: 991px) {
      margin: 30px auto 0;
      text-align: center;
    }
    strong{
      font-size: 16px;
      letter-spacing: 0.55px;
    }
  }
  .social{
    min-width: 130px;
    width: auto;
    height: 51px;
    margin: 21px 42px 0;
    border: 1px solid #FFFFFF;
    display: inline-block;
    position: relative;
    border-top: none;
  }
  .social__title{
    background: transparent;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    margin: -11px auto 0;
    position: static;
    display: block;
    padding: 0 10px;
    text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* наверх и влево */
    1px 1px 1px rgba(255,255,255,0.2), /* вниз и вправо */
    1px 1px 1px rgba(0,0,0,0.7); /* тёмная тень */
  }
  .social__border-top{
    position: absolute;
    width: 8px;
    height: 1px;
    border-top: 1px solid #FFFFFF;
    &--right{
      right: 0;
      top: 0;
    }
    &--left{
      left: 0;
      top: 0;
    }
  }
  .social__icon{
    position: static;
    display: block;
    margin: 0 10px;
    width: auto;
    height: 30px;
    float: left;
    &--vk{
      width: 30px;
      height: 25px;
      margin: 4px 4px 4px 8px;
      cursor: pointer;
    }
    &--facebook{
      width: 20px;
      height: 30px;
      margin: -2px 0px 10px 8px;
      cursor: pointer;
    }
    &--twitter{
      width: 30px;
      height: 25px;
      margin: 4px 7px 4px 15px;
      cursor: pointer;
    }
  }

  .header__logo{
    margin-top: 26px;
    margin-left: 18px;
    margin-right: 18px;
    padding: 0;
    width: 225px;
    @media screen and (max-width: 991px) {
      width: 224px;
      margin: 26px auto 0;
    }
  }
  .header__contact{
    font-family: "OpenSansSemiBold", sans-serif;
    font-size: 29px;
    padding-left: 56px;
    margin-top: 109px;
    line-height: 31px;
    font-weight: 600;
    width: 333.33px;
    position: relative;
    letter-spacing: 0.3px;
    text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* наверх и влево */
                 1px 1px 1px rgba(255,255,255,0.2), /* вниз и вправо */
                 1px 1px 1px rgba(0,0,0,0.7); /* тёмная тень */
    @media screen and (max-width: 991px) {
      text-align: center;
      font-size: 20px;
      margin: 20px auto;
      padding: 0 20px;
      width: 100%;
    }
  }
}
.menu{
  margin: 24px auto 0;
  .navbar-header{
    display: none;
  }
  .navbar{
    border-radius: 0;
    z-index: 9999;
    background-color: #000;
    opacity: 0.9;
    border: none;
    width: 787px;
    margin: 0 auto;
    @media screen and (max-width: 821px) {
      width: 726px;
    }
  }
  .navbar-default .navbar-nav > li{
    font-family: "OpenSansCondensedLight", sans-serif;
    font-size: 21px;
  }
  .navbar-default .navbar-nav > .active > a{
    background-color: $purple-color;
    color: #FFFFFF;
  }
  .navbar-default .navbar-nav > li > a{
    color: #FFFFFF;
    padding-left: 25px;
    padding-right: 25px;
    @media screen and (max-width: 821px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .navbar-default .navbar-nav > li:hover{
    background-color: $purple-color;
    opacity: 1;
    transition: background-color 0.5s ease-out 0s;
  }
  .container-fluid{
    padding: 0;
  }
  .navbar-collapse{
    padding: 0;
  }

  .menu .navbar-default .navbar-nav > li > a {
    color: #fff;
    background-color: $purple-color;
    opacity: 0.9;
  }
  ul.dropdown-menu{
    left: -1px;
    font-size: 21px;
    background-color: #000000;
    padding-bottom: 0;
    border-radius: 6px;
    opacity: 1;
  }
  ul.dropdown-menu > li > a{
    color: #FFFFFF;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
  }

  ul.dropdown-menu > li > a:hover{
    background-color: $purple-color;
    opacity: 1;
    transition: background-color 0.5s ease-out 0s;
  }

  .navbar-nav > li > .dropdown-menu {
    border-radius: 6px;
    margin-top: 3px;
    padding: 0;
  }

  @media screen and (max-width: 991px) {
    margin: 12px auto 0;
  }

  @media screen and (max-width: 767px) {
    margin: -60px auto 0;
    .navbar-header{
      display: block;
    }
    .navbar-brand{
      color: #FFFFFF;
    }
    .navbar-default .navbar-nav > .active > a{
      background-color: $purple-color;
      color: #FFFFFF;
    }
    .navbar-default .navbar-nav > li > a{
      color: #FFFFFF;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a{
      color: #FFFFFF;
    }

    .container-fluid{
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar-collapse{
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar{
      border-radius: 5px;
      background-color: #000;
      opacity: 0.9;
      border: 1px solid $purple-color;
      width: auto;
      margin-top: 72px;
    }
    .dropdown-menu{
      left: 0;
    }
    .navbar-nav > li > .dropdown-menu {
      border-radius: 5px;
      border-color: #6b2e6a;
      margin-top: 0;
      padding: 0;
    }
  }
}