.service_block{
  margin-top: 280px;
}

.service{
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 25%;
}
.service__image{
  height: 250px;
}
.service__label{
  display: block;
  font-family: "OpenSansCondensedLight", sans-serif;
  font-size: 24px;
  color: #3e3e3e;
  width: 140px;
  margin: 10px auto 0;
  text-align: center;
  line-height: 24px;
}